.profile-container-default {
    position: relative;
    text-align: center;
    margin-top: 6rem;
    border: 2px solid black;
    border-radius: 8%;
    width: 550px;
    height: 580px;
}

.profile-container-reduced {
    position: relative;
    text-align: center;
    margin-top: 6rem;
    border: 2px solid black;
    border-radius: 8%;
    width: 550px;
    height: 450px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-image-container {
    position: relative;
    margin-top : 15px;
}

.profile-image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.profile-image-button {
    position: absolute;
    bottom: 1px;
    left: 170px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}

.profile-image-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20%;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-name {
    font-family: 'Gothic', sans-serif;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 5px;
}

.profile-email {
    font-family: 'Gothic', sans-serif;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 5px;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.profile-actions button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-actions .profile-exit{
    background-color: rgb(172, 43, 43);
}

.profile-actions button:hover {
    background-color: darkorange;
}

.profile-actions button:last-child {
    margin-bottom: 0;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.half-width-button {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button-icon {
    width: 24px;
    height: 24px;
}

.google-button {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.kakao-button {
    background-color: #FEE500;
    color: black;
    border: 2px solid black;
}

.hide-logo .logo-image {
    display: none;
}


/* Profile.css */

.modal-input {
    width: 94%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-button {
    display: inline-block;
    margin: 5px;
}

.modal-error-text {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
