/* src/components/ConferenceNavbar/ConferenceNavbar.css */

.conference-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for elevation */
    z-index: 1000;
    height: 3.5rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .conference-navbar-logo {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .logo-img {
    width: 60px;
    height: auto;
    margin-right: 0.5rem;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */
  }
  
  .logo-img.loaded {
    opacity: 1; /* Visible when loaded */
  }
  
  .logo-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .conference-navbar-info {
    display: flex;
    align-items: center;
    margin-left: auto; /* Right align the info section */
    flex-grow: 1;
  }
  
  .conference-navbar-subject {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .conference-navbar-code {
    display: flex;
    align-items: center;
  }
  
  .conference-navbar-code pre {
    margin: 0;
    font-size: 1rem;
    background: #f5f5f5;
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .conference-navbar-code-button {
    margin-left: 1rem;
  }
  
  .conference-navbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    cursor: pointer;
    margin-left: 1rem;
  }
  
  .conference-navbar-button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 6px;
  }
  
  .conference-navbar-settings-button {
    background-color: #f0f0f0; /* Gray background */
    margin-right: 1rem;
  }
  
  .conference-navbar-leave-button {
    background-color: #f44336; /* Red background */
  }
  
  .icon-svg {
    width: 24px;
    height: 24px;
  }
  
  .modal-content {
    width: 250px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  .user-img-large {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .user-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .user-email {
    font-size: 1rem;
    margin: 0;
  }
  