/* Navbar styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 0.5rem 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 4rem;
}

/* Logo styling */
.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Adjust logo image size */
.logo-img {
    width: 80px;
    height: auto;
    margin-right: 0.5rem;
}

/* Navbar links styling */
.navbar-links {
    display: flex;
    align-items: center;
    margin-left: auto; /* Right align the buttons */
}

/* Button styling */
.navbar-links .button-primary {
    background-color: #ff9800; /* Use orange as primary color */
    color: white;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    text-transform: none;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.navbar-links .button-primary:hover {
    background-color: #fb8c00;
}

.navbar-links .button-logout {
    background-color: #f44336; /* Use red as logout color */
    color: white;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    text-transform: none;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.navbar-links .button-logout:hover {
    background-color: #d32f2f;
}

.navbar-links .button-profile-update {
    background-color: #4caf50; /* Use green as profile update color */
    color: white;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    text-transform: none;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.navbar-links .button-profile-update:hover {
    background-color: #388e3c;
}

/* Profile image styling */
.profile-container {
    position: relative;
}

/* Profile avatar styling */
.profile-avatar {
    cursor: pointer;
}

/* Profile popup styling */
.profile-popup {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 200px;
    position: absolute;
    z-index: 1001;
    transform: translateY(10px);
}

/* Profile info styling */
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.profile-img-large {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
