.profile-image-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.profile-image-modal-overlay {
    background: rgba(0, 0, 0, 0.5); /* Makes the overlay semi-transparent */
    position: fixed; /* Ensures the overlay covers the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.current-profile-image {
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    border-radius: 50%; 
}
