/* 전체 컨테이너 스타일 */
.conference {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* 회의 콘텐츠 스타일 */
.conference-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
}

/* 회원 목록 컨테이너 스타일 */
.member-list-container {
  flex: 1;
  padding: 20px;
}

/* 화이트보드 섹션 스타일 */
.conference-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
  overflow: auto;
  position: relative;
}

/* 사이드바 컨테이너 스타일 */
.sidebar-container {
  width: 300px; /* 사이드바의 너비 */
  height: 100%; /* 전체 높이 */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000; /* 다른 요소 위에 표시되도록 */
}

.sidebar-container.visible {
  transform: translateX(0);
}
/* 사이드바 토글 버튼 스타일 */
.toggle-sidebar-button {
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 1000;
}

/* 사이드바 아이콘 스타일 */
.sidebar-icon {
  width: 24px;
  height: 24px;
}

/* 메인 콘텐츠 컨테이너 스타일 */
.main-content {
  display: flex;
  flex-direction: row; /* Row 방향으로 변경 */
  width: 100%;
  height: 100%;
  position: relative; /* 콘텐츠의 높이를 100%로 설정 */
}

/* 화이트보드 컨테이너 스타일 */
.whiteboard-container {
  width: calc(100% - 300px); /* 컨테이너의 너비를 100%로 설정 */
  display: flex;
  justify-content: center;
  margin-top: 60px;
  position: relative;
}

/* 대기 모달 스타일 */
.waiting-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* VotedPostIt 컨테이너 스타일 */
.voted-post-it-container {
  width: 300px; /* VotedPostIt 컨테이너의 너비 */
  display: flex;
  flex-direction: column;
  left: 30px;
  gap: 10px;
  position: absolute; /* 상대 위치로 설정 */
}
