/* NewConferenceBack.css */

.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative; /* Make the container a relatively positioned parent */
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width:40px;
  background-color: white; /* Light gray background */
  border-radius: 50%; /* Circular button */
  padding: 8px; /* Padding around the icon */
  /* Slight shadow for depth */
}

.close-icon {
  width: 16px; /* Adjust the size as needed */
  height: 16px; /* Adjust the size as needed */
}

.typography-margin-bottom {
  margin-bottom: 16px;
}

.textfield-root {
  width: 100%;
  margin-bottom: 16px;
}

.textfield-input-root {
  border-radius: 8px;
}

.textfield-input {
  font-size: 16px;
}

.slider-root {
  color: #D1C4E9;
}

.slider-thumb {
  border-radius: 50%;
  background-color: #D1C4E9;
}

.slider-track {
  border-radius: 4px;
}

.slider-rail {
  border-radius: 4px;
}

.button-full-width {
  width: 100%;
  margin-top: 16px;
}