/* 사이드바 스타일 */
.postit-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 55vh;
  background-color: #ffffff;
  border-left: 2px solid #ccc;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden; /* 수평 스크롤 막기 */
  padding: 20px;
  z-index: 10000; /* WhiteBoard보다 높은 z-index 설정 */
  display: none; /* 처음에는 숨김 */
  flex-direction: column;
  opacity: 0;
  pointer-events: none; /* 클릭 이벤트 차단 */
  transition: opacity 0.3s ease; /* 오직 투명도만 변환 */
  transform: translateY(-30%);
}

/* 사이드바가 보일 때 */
.postit-sidebar.visible {
  display: flex; /* 보일 때는 flex로 전환 */
  margin-top: auto;
  opacity: 1; /* 투명도 조정으로 나타남 */
  pointer-events: auto; /* 클릭 가능 */
}

/* 사이드바 헤더 스타일 */
.sidebar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

/* 닫기 버튼 스타일 */
.close-button {
  color: #333;
  background-color: transparent;
  transition: transform 0.2s, color 0.2s;
  font-size: 24px;
  padding: 5px;
}

.close-button:hover {
  color: #f44336;
  transform: scale(1.1);
}

/* 포스트잇 메모 스타일 */
.note {
  background-color: #fff8dc;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 60px;
  position: relative;
}

.note:hover {
  transform: scale(1.02);
}

/* 노트 내용 스타일 */
.note-content {
  width: 100%;
}

.note-text {
  flex-grow: 1;
  margin-bottom: 10px;
  word-break: break-word;
  font-size: 16px; /* 글씨 크기 확대 */
  white-space: normal;
  overflow-wrap: break-word;
}

/* 노트 액션 스타일 */
.note-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* 새로운 삭제 버튼 스타일 */
.custom-delete-button {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 4px; /* 버튼 크기 줄이기 */
  transition: transform 0.2s, color 0.2s;
  font-size: 16px; /* 버튼 글씨 크기 확대 */
}

.custom-delete-button:hover {
  color: #f44336;
  transform: scale(1.1);
}

/* 노트 리스트 스타일 */
.notes-list {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden; /* 수평 스크롤 막기 */
  padding-right: 10px;
  margin-bottom: 20px;
  display: none; /* 처음에는 숨김 */
  z-index: 10010; /* 노트 리스트의 z-index 설정 */
}

/* 노트 리스트가 보일 때 */
.notes-list.visible {
  display: block; /* 버튼 클릭 시 보이도록 설정 */
}

/* 포스트잇 추가 버튼 스타일 */
.add-note-button {
  width: 100%;
  background-color: #4caf50;
  color: #ffffff;
  transition: background-color 0.3s, transform 0.3s;
}

.add-note-button:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}