/* UserVideo.css */

/* 전체 비디오와 닉네임을 감싸는 컨테이너 */
/*
.streamcomponent {
    width: 100px; 
    height: 75px; 
    overflow: hidden; 
    position: relative; 
    background: #f8f8f8; 
    border: 1px solid #ccc; 
    border-radius: 8px;
}*/

.streamcomponent {
    width: 160px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  


/* 비디오 스타일 */
.streamcomponent video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 닉네임 태그 
.streamcomponent div {
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2px 5px; 
    text-align: center; 
    font-weight: bold; 
    border-bottom-right-radius: 4px; 
}*/

/* 닉네임 태그의 p 태그 스타일 */
.streamcomponent p {
    margin: 0; /* 여백 제거 */
}
