#video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 항목 간 간격 */
}

/*
.stream-container {
    width: 100px; 
    height: 75px;
    overflow: hidden; 
    box-sizing: border-box;
    margin-bottom: 10px; 
    position: relative; 
}*/

.stream-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px;
    white-space: nowrap; /* Prevent wrapping */
    scroll-behavior: smooth; /* Smooth scrolling */
}

.stream-container video {
    width: 100%; /* 컨테이너에 맞게 비디오 너비 설정 */
    height: 100%; /* 컨테이너에 맞게 비디오 높이 설정 */
    object-fit: cover; /* 비율에 맞춰 잘림 */
}
