#video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding: 10px 0;
}
/*
.stream-container {
    width: 100px; 
    height: 75px;
    overflow: hidden; 
    box-sizing: border-box;
    margin-bottom: 10px; 
    position: relative; 
}*/

.stream-container {
    flex: 0 0 auto;
    margin-right: 10px;
    width: 160px;
    height: 120px;
    display: inline-block;
}

.stream-container video {
    width: 100%; /* 비디오가 컨테이너에 맞도록 */
    height: 100%; /* 비디오가 컨테이너에 맞도록 */
    object-fit: cover; /* 비율 유지하며 자름 */
}