/* WhiteBoard.css */

.WhiteBoard {
  font-family: Arial, sans-serif;
  height: 500px;
  width: 800px; /* 고정 너비 설정 */
  border: 1px solid #ccc; /* 테두리 추가 (선택 사항) */
  border-radius: 8px; /* 모서리 둥글게 */
  overflow: hidden; /* 내용이 넘칠 때 숨기기 */
  background-color: #fff; /* 배경색 추가 */
  position: relative;
  padding-top:0px;
  margin-top: 20px;
}

.WhiteBoard-header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.WhiteBoard-header .Timer {
  margin-right: 20px;
}

/* 버튼 컨테이너 스타일 */
.header-buttons {
  display: flex;
  gap: 10px;
}

/* 버튼 스타일 */
.header-button {
  width: 40px; /* 버튼 너비 설정 */
  height: 40px; /* 버튼 높이 설정 */
  border: 2px solid #000; /* 검은색 테두리 추가 */
  background-color: #fff; /* 흰색 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-radius: 0; /* 네모난 모양으로 설정 */
  cursor: pointer;
  outline: none; /* 기본 버튼 윤곽선 제거 */
}

.header-button img {
  width: 24px; /* 이미지 너비 설정 */
  height: 24px; /* 이미지 높이 설정 */
}
.header-button:hover {
  background-color: #f0f0f0;
}

.WhiteBoard-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 300px; /* 고정 높이 설정 (필요에 따라 조정) */
}

.instruction-container {
  background-color: #f0f0f0; /* 회색 배경 */
  border-radius: 8px; /* 모서리 둥글게 */
  padding: 10px;
  margin-bottom: 20px;
}

.instruction {
  font-size: 18px;
  margin: 0;
}

.divider-line {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.idea-board {
  height: 60px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto; /* 세로 스크롤 허용 */
}

.idea-item {
  flex: 0 1 calc(33.333% - 10px); /* 3개씩 가로 정렬 */
  box-sizing: border-box;
}

.post-it {
  background-color: #f9e79f; /* 기본 색상, 스타일에 따라 변경 가능 */
  border: 1px solid #f1c40f;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  border-radius: 8px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WhiteBoard-footer {
  display: flex;
  margin-top: auto; /* 폼을 하단에 고정 */
}

.idea-form {
  display: flex;
  width: 100%;
}

.idea-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.idea-submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}
