.navbar {
    position: fixed; /* Keeps the navbar at the top of the page */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    background-color: #333; /* Dark background for the navbar */
    padding: 0.5rem 1rem; /* Adjust padding for a balanced look */
    color: white;
    display: flex;
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Center items vertically */
    z-index: 1000; /* Ensure the navbar stays on top */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.navbar-logo {
    display: flex;
    align-items: center; /* Align logo image and text vertically */
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center; /* Center the logo image and text */
}

.navbar-links {
    display: flex;
    align-items: center; /* Center the button vertically */
}

/* 시작하기 버튼 */
.navbar-links .MuiButton-root.primary {
    background-color: #b300ff; 
    color: white;
    border-radius: 5px; 
    padding: 0.5rem 1rem; 
    text-transform: none; 
    margin-left: 1rem; 
    &:hover {
        background-color: #a300e6;
    }
}

/* 로그아웃 버튼 */
.navbar-links .MuiButton-root.logout {
    background-color: #ff4d4d; 
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-transform: none;
    margin-left: 1rem;
    &:hover {
        background-color: #e60000;
    }
}

.logo-img {
    width: 40px; /* Adjust the width of the logo image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 0.5rem; /* Space between the logo image and text */
}

.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.5); /* 배경 흐림 효과 */
}